<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Web Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <header class="navbar">
        <h1>Your Location</h1>
        <img src="img/sun.png" alt="Sun" class="day-night-toggle" id="dayNightToggle">
        
    </header>

    <main>
        <section id="interactiveMap">
            <h2>Interactive Map</h2>
            <div id="mapContainer">
            </div>
        </section>
        
    </main>

    <script src="script.js"></script>
</body>
</html>