{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
</head>
<body>
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}

<div class="blue-background">
  {% if user.is_authenticated %}
        <ul class="nav nav-pills">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
            <div class="dropdown-menu">
              <a class="dropdown-item nav-link active" href="/" onclick="openTab('map')">Home</a>
              <a class="dropdown-item" href="/map" onclick="openTab('map')">Interactive Map</a>
              <a class="dropdown-item" href="/map/code" onclick="openTab('map/code')">Submit location code</a>
              <a class="dropdown-item" href="/village" onclick="openTab('village')">Sustainable Village</a>
              <a class="dropdown-item" href="#">Leaderboard</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/signout" onclick="openTab('logout')">Log Out</a>
            </div>
          </li>
        </ul>
    {% endif %}
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-6">
              <h2 class="text-center mt-5 mb-4">
                <img src="{% static 'palmtree.png' %}" alt="App Logo" class="app-logo">
                SusVille: Exeter
              </h2>
              <p>Welcome to our eco-friendly campus adventure!🌱 </p>
              <p>Join us in promoting sustainability, raising awareness, and sparking positive change. </p>
              <p>Walk, explore, and earn buildings to build your unique village.</p>
              <p>Engage with daily trivia, challenge friends, and make a lasting impact. Let's game for a greener world together! </p>
              <p>Embark on a quest where every step matters! Join a community dedicated to making a difference. Your journey awaits – discover hidden gems, unlock eco-treasures, and be part of a movement. Ready to level up your campus experience? Let the green adventure begin!</p>
              {% if user.is_authenticated %}
              <div class="text-center"></div>
                <p>Welcome to SusVille: Exeter  -  {{user.username}}</p>
              </div>
              {% else %}
              <div class="text-center">
                <a href="/signup" class="btn btn-primary mr-md-2 mb-2 mb-md-0">Sign Up</a>
                <a href="/signin" class="btn btn-primary">Sign In</a>
              </div>
              {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
document.getElementById('navbar-toggler').addEventListener('click', function() {
    document.getElementById('dropdown-menu').classList.toggle('show');
});
</script>
</body>
</html>

