<div id="shop">
    <div class="shop-container">
      <div class="shop-item">
        <img src="img/tree1.png" alt="Product 1">
        <p>Price: 600 e-Points</p>
      </div>
      <div class="shop-item">
        <img src="img/tree2.png" alt="Product 2">
        <p>Price: 800 e-Points</p>
      </div>
      <div class="shop-item">
        <img src="img/tree3.png" alt="Product 3">
        <p>Price: 400 e-Points</p>
      </div>
      <div class="shop-item">
        <img src="img/tree4.png" alt="Product 4">
        <p>Price: 1000 e-Points</p>
      </div>
      <div class="shop-item">
        <img src="img/tree5.png" alt="Product 5">
        <p>Price: 600 e-Points</p>
      </div>
      <div class="shop-item">
        <img src="img/tree6.png" alt="Product 6">
        <p>Price: 700 e-Points</p>
      </div>
</div>