/* mappage.css
Udit Tripathi - wrote css
*/

body {
    font-family: Arial, sans-serif;
    background-color: #118A9D; 
    color: #87C159;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.map-container {
    width: 90%;
    max-width: 700px; 
    margin: 0 auto; 
    margin-bottom: 20px; 
    border: 1px solid #87C159;
    border-radius: 10px;
    padding: 20px; 
    box-sizing: border-box;
    background-color: #87C159; 
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px; 
    background-color: #87C159;
    color: #ffffff; 
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #006400;
}