/* Custom styling for the navbar */
.nav-pills .nav-link {
    background-color: #87C159; /* Green background color */
    border-radius: 20px; /* Rounded corners */
    padding: 10px 20px; /* Padding */
    margin-right: 10px; /* Margin between items */
    color: white; /* Text color */
}

.nav-pills .dropdown-menu {
    border-radius: 20px; /* Rounded corners */
    background-color: #87C159; /* Green background color */
    padding: 10px 0; /* Padding */
}

.dropdown-item {
    color: white !important; /* Text color for dropdown items */
}
