/* navbar.css
Jean Mady - wrote css
*/
.nav-pills .nav-link {
    background-color: #87C159; 
    border-radius: 20px; 
    padding: 10px 20px; 
    margin-right: 10px; 
    color: white; 
}

.nav-pills .dropdown-menu {
    border-radius: 20px; 
    background-color: #87C159;
    padding: 10px 0; 
}

.dropdown-item {
    color: white !important; 
}
