/* navbar.css
Jean Mady - wrote css
*/
.blue-background {
    background-color: #118A9D; 
    padding: 20px;
    min-height: 100vh; 
}

.container {
    background-color: #87C159; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

h2 {
    text-align: center;
    color: #333; 
}

.app-logo {
    width: 50px;
    margin-right: 10px; 
}

.app-name {
    font-size: 24px;
    margin-top: 0;
    color: #333; 
}

.form-group {
    margin-bottom: 20px;
}

/* Button styles */
.btn-signup {
    background-color: #118A9D; 
    border-color: #118A9D; 
    border-radius: 20px; 
    width: 100%; /* Span the width of the form */
}

.btn-signup:hover,
.btn-signup:focus {
    background-color: #00808071; 
    border-color: #00808071; 
}

